@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid" style="text-align:center">
    <span class="glyphicon glyphicon-film" style="font-size:150px;"></span>
    <h1 class="text-center">Welcome to Movie Rider!</h1>
    <h2 class="text-center">To use other options available please register!</h2>
</div>